# Ignore text files
*.txt

# Ignore CSV files
*.csv

# Ignore Excel files
*.xlsx
*.xls

# Ignore ollama test case files
ollama_testcases_*.txt

# Ignore Mails folder
Mails/

# Do not ignore environment files
!deepseek_env/
